attrs==22.2.0             # via pytest
cfgv==3.3.1               # via pre-commit
distlib==0.3.6            # via virtualenv
exceptiongroup==1.1.0     # via pytest
filelock==3.9.0           # via virtualenv
identify==2.5.20          # via pre-commit
iniconfig==2.0.0          # via pytest
mypy==1.1.1               # via -r dev-requirements.in
mypy-extensions==1.0.0    # via mypy
nodeenv==1.7.0            # via pre-commit
packaging==23.0           # via pytest
platformdirs==3.1.1       # via virtualenv
pluggy==1.0.0             # via pytest
pre-commit==3.1.1         # via -r dev-requirements.in
pytest==7.2.2             # via -r dev-requirements.in
pyyaml==6.0               # via pre-commit
ruff==0.0.254             # via -r dev-requirements.in
tomli==2.0.1              # via mypy, pytest
typing-extensions==4.5.0  # via mypy
virtualenv==20.20.0       # via pre-commit

# The following packages are considered to be unsafe in a requirements file:
setuptools==67.6.0        # via nodeenv
