nvidia-cublas-cu11==11.10.3.66  # via nvidia-cudnn-cu11, torch
nvidia-cuda-nvrtc-cu11==11.7.99  # via torch
nvidia-cuda-runtime-cu11==11.7.99  # via torch
nvidia-cudnn-cu11==8.5.0.96  # via torch
torch==1.13.1             # via -r requirements.in
typing-extensions==4.5.0  # via torch
wheel==0.38.4             # via nvidia-cublas-cu11, nvidia-cuda-runtime-cu11

# The following packages are considered to be unsafe in a requirements file:
setuptools==67.6.0        # via nvidia-cublas-cu11, nvidia-cuda-runtime-cu11
